.comment {
  @include flex-all-sb;
  align-items: start;

  &__left {
    min-width: 150px;
    padding-right: 30px;
  }

  &__right {
    max-width: 630px;
  }

  &__author {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;

    color: var(--color-ebony);
    margin-bottom: 7px;

    @include small-tablet {
      margin-bottom: 0;
      font-size: 16px;
    }
  }

  &__time {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    color: var(--color-storm);

    @include small-tablet {
      font-size: 12px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;

    color: var(--color-gray);
    margin-bottom: 17px;

    @include small-tablet {
      font-size: 14px;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;

    color: var(--color-primary);

    @include small-tablet {
      font-size: 14px;
    }
  }

  &__btn {
    padding-left: 24px;

    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    color: var(--color-storm);

    background-image: url("../img/post/share-arrow.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: left top 1px;

    @include outline-primary-text;
  }
}
