:root {
  --font-family: "Ubuntu", sans-serif;
  --content-width: 1230px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --color-light: #fff;
  --color-gray: #424551;
  --color-storm: #787A80;
  --color-ebony: #1E212C;
  --color-primary: #FF5A30;
  --color-manate: #9A9CA5;
  --color-athens: #F4F5F7;
  --grid-gap: 30px;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/../fonts/Ubuntu-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/../fonts/Ubuntu-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/../fonts/Lato-Black.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  font-weight: 400;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.main-title {
  margin: 0;
  margin-bottom: 24px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 72px;
  line-height: 130%;
  letter-spacing: 1px;
  color: var(--color-ebony);
}
.main-title span {
  color: var(--color-primary);
}
.main-title--home {
  color: var(--color-light);
}

.main-descr {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-storm);
}
.main-descr--home {
  color: var(--color-light);
  margin-bottom: 61px;
}

.btn {
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--color-light);
  border-radius: 4px;
  padding: 15.1px 38.2px;
}
.btn:not(:last-child) {
  margin-right: 20px;
}
.btn--fill {
  background-color: var(--color-primary);
  padding-top: 16px;
  padding-right: 41px;
}
.btn--stroke {
  color: var(--color-primary);
}
.btn--stroke-primary {
  border-color: var(--color-primary);
}
.btn--stroke-light {
  border-color: var(--color-light);
  color: var(--color-light);
}

.title {
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  color: var(--color-ebony);
  margin-bottom: 23px;
}
.title--centr {
  text-align: center;
}
.title--left {
  text-align: left;
}

.descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: var(--color-storm);
  margin-bottom: 60px;
}
.descr--centr {
  text-align: center;
}

.section-offset {
  padding-top: 121px;
}

/* .section-offset-min{
	padding-top: 85px;
} */
.centered {
  width: 100%;
  text-align: center;
}

.custom-checkbox__input {
  position: absolute;
  opacity: 0;
}
.custom-checkbox__text {
  display: inline-block;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  padding-left: 27px;
  color: var(--color-gray);
}
.custom-checkbox__text::before {
  content: "";
  position: absolute;
  left: -1px;
  top: 3px;
  display: inline-block;
  border: 1px solid var(--color-primary);
  border-radius: 3px;
  width: 16px;
  height: 16px;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.custom-checkbox__text::after {
  content: "";
  position: absolute;
  left: -1px;
  top: 3px;
  width: 16px;
  height: 16px;
  background-image: url("../img/check.svg");
  background-position: center;
  background-size: 10px 8px;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.custom-checkbox__input:checked + .custom-checkbox__text::before {
  background-color: var(--color-primary);
}
.custom-checkbox__input:checked + .custom-checkbox__text::after {
  opacity: 1;
}
.custom-checkbox__input:focus + .custom-checkbox__text {
  outline: 1px solid var(--color-primary);
}

.slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 15;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.slider-nav__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  color: var(--color-gray);
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.slider-nav__btn svg {
  display: block;
  width: 24px;
  height: 24px;
  color: inherit;
  fill: currentColor;
  -o-object-fit: cover;
  object-fit: cover;
}
.slider-nav__btn:hover {
  color: var(--color-light);
  background-color: var(--color-primary);
}

.slider-nav__btn.swiper-button-disabled {
  opacity: 0.4;
  pointer-events: none;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.form-field__caption {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-gray);
  margin-bottom: 8px;
}
.form-field__input {
  width: 260px;
  height: 44px;
  padding-left: 16px;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  background-color: var(--color-athens);
}
.form-field__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-manate);
}
.form-field__input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-manate);
}
.form-field__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-manate);
}
.form-field__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-manate);
}
.form-field__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-manate);
}
.form-field__input--big {
  width: 100%;
  min-height: 66px;
  resize: none;
  padding-top: 9px;
  padding-left: 13px;
}
.form-field--big {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.form-field--big .form-field__input {
  width: 100%;
}
.form-field--gray {
  width: 100%;
  margin-bottom: 20px;
}
.form-field--gray .form-field__input {
  width: 100%;
  background-color: #F4F5F7;
}

.header {
  padding-top: 23px;
  padding-bottom: 21px;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header--main {
  color: var(--color-light);
}
.header__nav {
  margin-left: -112px;
}

.hero {
  padding-top: 221px;
  padding-bottom: 352px;
  background-color: var(--color-gray);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/hero-bg.jpg);
}

.hero__content {
  max-width: 577px;
  color: var(--color-light);
}

.about-section {
  padding-bottom: 60px;
  background-color: var(--color-light);
}

.mission {
  background-color: var(--color-light);
}
.mission__list {
  --mission-gap: 94px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: calc(var(--mission-gap) * 2);
  margin-bottom: 27px;
}
.mission__item {
  position: relative;
  padding-top: 72px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 48px 48px;
  text-align: center;
}
.mission__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: calc(-1 * var(--mission-gap));
  width: 1px;
  height: 100%;
  background-image: url("../img/divider.svg");
}
.mission__item--quality {
  background-image: url("../img/quality.svg");
}
.mission__item--safety {
  background-image: url("../img/safety.svg");
}
.mission__item--comfort {
  background-image: url("../img/comfort.svg");
}
.mission__subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-ebony);
  margin-bottom: 10px;
}
.mission__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-storm);
}

.know-form {
  position: relative;
  top: 92px;
  border-radius: 4px;
  padding: 48px 60px;
  background: var(--color-light);
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}
.know-form__title {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  margin-bottom: 32px;
  color: var(--color-ebony);
}
.know-form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.know-form__field:not(:last-child) {
  margin-right: 24px;
}
.know-form__btn {
  padding: 11px 29px;
}

.services-section {
  padding-top: 212px;
  padding-bottom: 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/bg-image-services.jpg");
}
.services-section__list {
  margin-bottom: 78px;
}

.services-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: var(--grid-gap);
}

.services-item {
  position: relative;
  display: block;
  padding: 90px 10px;
  border: 1px solid #E5E8ED;
  border-radius: 4px;
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  background: var(--color-light);
}
.services-item::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  border-radius: inherit;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-ebony);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.services-item::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 4;
  border-radius: inherit;
  background-color: rgba(30, 33, 44, 0.6);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.services-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 10;
}
.services-item__icon {
  fill: var(--color-primary);
  width: 52px;
  height: 52px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-bottom: 24px;
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}
.services-item__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: var(--color-ebony);
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.services-item--construction::before {
  background-image: url("../img/services-1.jpg");
}
.services-item:hover::before {
  opacity: 1;
}
.services-item:hover::after {
  opacity: 1;
}
.services-item:hover .services-item__icon {
  fill: var(--color-light);
}
.services-item:hover .services-item__title {
  color: var(--color-light);
}

.swiper {
  margin: -100px !important;
  padding: 100px !important;
}

.projects-section {
  padding-bottom: 120px;
  background-color: var(--color-light);
}
.projects-section__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 48px;
}
.projects-section__learn {
  margin-top: 80px;
}
.projects-section__title {
  margin: 0;
  max-width: 705px;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  color: var(--color-ebony);
  padding-bottom: 11px;
}
.projects-section__slider-nav {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}
.projects-section__items {
  margin: -100px;
  padding: 100px;
}
.projects-section__items .swiper-slide {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.projects-section__items .slide-visible {
  opacity: 1;
  visibility: visible;
}

.projects-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 4px;
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  background-color: var(--color-light);
  padding-bottom: 24px;
}
.projects-item__image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  margin-bottom: 16px;
  -webkit-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}
.projects-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.projects-item__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-ebony);
  margin-bottom: 4px;
}
.projects-item__descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-storm);
}
.projects-item__btn {
  margin-top: 24px;
  display: none;
}

.partners {
  background-color: var(--color-athens);
  padding-top: 80px;
  padding-bottom: 80px;
}
.partners__title {
  margin-bottom: 59px;
}
.partners__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
  gap: 102px;
}

.testimonials {
  background-color: var(--color-athens);
  padding-top: 97px;
  margin-bottom: -63px;
}
.testimonials__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.testimonials__center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.testimonials__content {
  max-width: 612px;
}
.testimonials__title {
  margin-bottom: 60px;
}
.testimonials__items {
  position: relative;
  margin: auto !important;
  padding: 0 0 10px 0 !important;
}
.testimonials__slider-nav {
  position: absolute;
  right: 0;
  bottom: 0;
}
.testimonials__image {
  position: relative;
  border-radius: 4px;
  z-index: 10;
}
.testimonials__image img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.testimonials-item {
  overflow: hidden;
}
.testimonials-item__image {
  overflow: hidden;
  border-radius: 100%;
  width: 72px;
  height: 72px;
  background-color: var(--color-ebony);
  margin-bottom: 25px;
}
.testimonials-item__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.testimonials-item__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-gray);
  margin-bottom: 25px;
}
.testimonials-item__author {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-ebony);
  margin-bottom: 5px;
}
.testimonials-item__author-positions {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-storm);
}

.facts {
  overflow: hidden;
  padding-top: 181px;
  background-color: var(--color-light);
  position: relative;
  padding-bottom: 180px;
}
.facts::before {
  content: "";
  position: absolute;
  left: 16%;
  top: -197px;
  width: 570px;
  height: 1065px;
  background-image: url("../img/bg-image-section-facts.png");
  background-position: center;
  background-repeat: no-repeat;
}
.facts__title {
  margin-bottom: 60px;
}
.facts__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  gap: 48px;
  max-width: 736px;
}

.facts-element__circle {
  --progress-stroke: #000;
  --progress-bg-opacity: 0.3;
  width: 148px;
  height: 148px;
  position: relative;
  margin-bottom: 20px;
}
.facts-element__circle svg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.facts-element__circle .progress {
  stroke: var(--progress-stroke);
  -webkit-transform: rotate(-90deg) translateX(20px);
  -ms-transform: rotate(-90deg) translateX(20px);
  transform: rotate(-90deg) translateX(20px);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}
.facts-element__circle .progress-bg {
  stroke: var(--progress-stroke);
  opacity: var(--progress-bg-opacity);
}
.facts-element--one-color {
  --progress-stroke: #F89828;
}
.facts-element--two-color {
  --progress-stroke: #F52F6E;
}
.facts-element--three-color {
  --progress-stroke: #5A87FC;
}
.facts-element--four-color {
  --progress-stroke: #03CEA4;
}
.facts-element__value {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: var(--color-ebony);
}
.facts-element__text {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: var(--color-ebony);
}

.recent-news {
  background-color: var(--color-light);
  padding-bottom: 117px;
}
.recent-news__title {
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  color: var(--color-ebony);
  margin-bottom: 62px;
}
.recent-news__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (255px)[2];
  grid-template-rows: repeat(2, 255px);
  gap: var(--grid-gap);
  margin-bottom: 79px;
}
.recent-news__item {
  -ms-grid-column-span: 5;
  grid-column: 5 span;
}
.recent-news__item:first-child {
  -ms-grid-column-span: 7;
  grid-column: 7 span;
  -ms-grid-row-span: 2;
  grid-row: 2 span;
}

.recent-article {
  overflow: hidden;
  border-radius: 4px;
  height: 100%;
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  background-color: var(--color-light);
}
.recent-article--small .recent-article__descr {
  display: none;
}
.recent-article__image {
  border-radius: 4px 4px 0px 0px;
}
.recent-article__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.recent-article__text {
  padding: 25px 23px;
}
.recent-article__text-small {
  padding: 18px 24px;
}
.recent-article__title {
  margin-bottom: 12px;
}
.recent-article__link {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-ebony);
}
.recent-article__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-gray);
}

.article-meta {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-storm);
  margin-bottom: 16px;
}
.article-meta a {
  color: inherit;
}
.article-meta__time {
  position: relative;
  margin-left: 21px;
  margin-right: 9px;
}
.article-meta__time::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 12px;
  bottom: 1px;
  right: -12px;
  background-color: var(--color-storm);
}
.article-meta__time::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 12px;
  bottom: 1px;
  left: -12px;
  background-color: var(--color-storm);
}
.article-meta__comments {
  padding-left: 37px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 13px 0;
  background-image: url("../img/comments-icon.svg");
}

.contacts-section {
  background-image: url("../img/contacts-section-bg.jpg");
  background-repeat: no-repeat;
  background-color: var(--color-ebony);
  background-position: center;
  background-size: cover;
  padding: 80px 0;
}
.contacts-section__form {
  background-color: var(--color-light);
}
.contacts-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.contacts-section__btn {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 12px 31px;
}

.contacts-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  border: 1px solid #E5E8ED;
  border-radius: 4px;
  max-width: 495px;
  -webkit-box-shadow: 0px 60px 80px -20px rgba(30, 33, 44, 0.16), 0px 26px 24px -10px rgba(30, 33, 44, 0.1), 0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  box-shadow: 0px 60px 80px -20px rgba(30, 33, 44, 0.16), 0px 26px 24px -10px rgba(30, 33, 44, 0.1), 0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  padding: 48px 40px;
}
.contacts-form__title {
  width: 100%;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  text-align: center;
  color: var(--color-ebony);
  margin-bottom: 24px;
}
.contacts-form__checkbox {
  margin-bottom: 22px;
}

.footer {
  padding-top: 81px;
  margin-bottom: -103px;
  background-color: var(--color-ebony);
  color: var(--color-light);
}
.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[3];
  grid-template-rows: repeat(3, 1fr);
  gap: 29px;
}
.footer__left {
  -ms-grid-column-span: 7;
  grid-column: 7 span;
  max-width: 493px;
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 21px;
}
.footer__form {
  -ms-grid-column-span: 5;
  grid-column: 5 span;
}
.footer__address {
  -ms-grid-column-span: 4;
  grid-column: 4 span;
}
.footer__nav {
  -ms-grid-column-span: 8;
  grid-column: 8 span;
}
.footer__copyright {
  -ms-grid-column-span: 12;
  grid-column: 12 span;
}
.footer__logo {
  margin-right: 59px;
}
.footer__descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-light);
  opacity: 0.6;
}

.footer-form {
  margin-bottom: 21px;
}
.footer-form__suptitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: var(--color-light);
  margin-bottom: 24px;
}
.footer-form__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 16px;
}
.footer-form .form-field {
  margin: 0;
  width: 364px;
}
.footer-form .form-field__input {
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  height: 44px;
  background-color: rgba(255, 255, 255, 0.12);
  color: var(--color-light);
  opacity: 0.6;
}
.footer-form__btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 11.7px 21px;
  height: 44px;
  letter-spacing: normal;
}
.footer-form__descr {
  font-size: 12px;
  line-height: 150%;
  color: var(--color-light);
  opacity: 0.6;
}

.footer-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.footer-address__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.6);
}
.footer-address__item:not(:last-child) {
  margin-bottom: 4px;
}
.footer-address__name {
  color: var(--color-light);
}
.footer-address__link {
  color: inherit;
}

.footer-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-light);
  margin-bottom: 13px;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 54px;
}
.footer-nav__col:not(:last-child) {
  margin-right: 125px;
}
.footer-nav__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.6);
}
.footer-nav__item:not(:last-child) {
  margin-bottom: 4px;
}
.footer-nav__item a {
  color: inherit;
}

.footer-copyright {
  margin-top: -25px;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-light);
}
.footer-copyright__link {
  position: relative;
  display: inline-block;
  padding-left: 24px;
  color: inherit;
  font-size: inherit;
}
.footer-copyright__link::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 2px;
  background-image: url("../img/footer-heart.svg");
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav__item:not(:last-child) {
  margin-right: 40px;
}
.nav__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-gray);
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.header-contacts__link:not(:last-child) {
  margin-right: 36px;
}

.contacts-link {
  padding-left: 52px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
}
.contacts-link__caption {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-gray);
}
.contacts-link__value {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1E212C;
}
.contacts-link--call {
  background-image: url(../img/iPhone.svg);
}
.contacts-link--mail {
  background-image: url(../img/Mail.svg);
}

.video-block {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  height: 500px;
}
.video-block::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 3;
  background-color: rgba(30, 33, 44, 0.6);
}
.video-block__content {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.video-block__play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  background-color: var(--color-primary);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 4;
}
.video-block__play svg {
  fill: var(--color-light);
  width: 26px;
  height: 26px;
  margin-right: -4px;
}
.video-block__muted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  bottom: 32px;
  left: 32px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.12);
  z-index: 4;
}
.video-block__muted svg {
  fill: var(--color-light);
  width: 20px;
  height: 20px;
}

.learn-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.learn-more__subtitle {
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: var(--color-ebony);
  margin-right: 40px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.social__item:not(:last-child) {
  margin-right: 16px;
}
.social__link {
  display: block;
  width: 24px;
  height: 24px;
}
.social__link svg {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  fill: var(--color-light);
  opacity: 6;
}
/*# sourceMappingURL=main.css.map */