<section class="achive">
  <h2 class="visually-hidden">Our achive</h2>
  <div class="container">
    <ul class="list-reset achive__list grid">
      <li class="achive__item achive__item--recom">
        <div class="achive__value">60%</div>
        <div class="achive__text">
          Clients on&nbsp;the recommendation of&nbsp;friends
        </div>
      </li>
      <li class="achive__item achive__item--renove">
        <div class="achive__value">2400+</div>
        <div class="achive__text">Apartments renovated</div>
      </li>
      <li class="achive__item achive__item--special">
        <div class="achive__value">670</div>
        <div class="achive__text">Qualified specialists</div>
      </li>
      <li class="achive__item achive__item--finish">
        <div class="achive__value">150000+&nbsp;m<sup>2</sup></div>
        <div class="achive__text">Finishing work was carried out</div>
      </li>
    </ul>

    <div class="achive__content">
      <div class="achive__image">
        <img
          src="./img/about/achive-image-left.jpg"
          aria-hidden="true"
          alt="achive image"
        />
      </div>
      <div class="achive__info">
        <blockquote class="achive__quote quote">
          <div class="quote__content">
            <p>
              Dapibus nec vitae ante mattis. Aliquam phasellus ac&nbsp;dui
              augue&nbsp;in. Sed aliquet in&nbsp;egestas hac at&nbsp;proin sed
              quam. Etiam aliquet sagittis non, massa cum pulvinar.
              Et&nbsp;in&nbsp;leo, tempus purus vestibulum ut&nbsp;blandit
              et&nbsp;mi. Odio massa purus vel praesent arcu enim elit felis
              viverra.
            </p>
            <p>
              Magna aliquam interdum mattis ipsum arcu. Elit odio elit viverra
              quis metus amet eleifend amet. Vet suspendisse faucibus tempor
              ipsum integer.
            </p>
          </div>
          <footer class="quote__footer">
            <span class="quote__author">Courtney Alexander</span>
            CEO - Createx Construction Bureau
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
