<section class="mission  mission--benefits">
	<div class="container">

		<h2 class="title title--centr title--benefits">Our benefits</h2>
		<p class="descr descr--centr">Our mission is&nbsp;to&nbsp;set the highest standards for construction sphere.</p>

		<ul class="list-reset mission__list  mission__list--benefits">

			<li class="mission__item mission__item--fixes">
				<h3 class="mission__subtitle">Fixed Terms &amp;&nbsp;Cost</h3>
				<p class="mission__descr">Culpa nostrud commodo ea&nbsp;consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.</p>
			</li>
			<li class="mission__item mission__item--qualified">
				<h3 class="mission__subtitle ">Qualified Workers</h3>
				<p class="mission__descr">
					Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim empor est&nbsp;ea.
				</p>
			</li>
			<li class="mission__item mission__item--control">
				<h3 class="mission__subtitle">Supervision &amp;&nbsp;Control</h3>
				<p class="mission__descr">
					Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea&nbsp;ad.
				</p>
			</li>

		</ul>
	<div class="mission__center">
		<button class="btn-reset know-form__btn know-form__btn--benefits btn btn--fill" type="submit">Discuss a project</button>
	</div>

	</div>
</section>