<section class="categories">
	<div class="container">
		<h2 class="title title--centr categories__title">Categories</h2>

		<ul class="list-reset categories-nav">
			<li class="categories-nav__item">
				<button class="btn btn-reset categories-nav__btn categories-nav__btn--active">All News</button>
			</li>
			<li class="categories-nav__item">
				<button class="btn btn-reset categories-nav__btn">Company News</button>
			</li>
			<li class="categories-nav__item">
				<button class="btn btn-reset categories-nav__btn">Innovation</button>
			</li>
			<li class="categories-nav__item">
				<button class="btn btn-reset categories-nav__btn">Industry News</button>
			</li>
			<li class="categories-nav__item">
				<button class="btn btn-reset categories-nav__btn">Expert Tips</button>
			</li>
			<li class="categories-nav__item">
				<button class="btn btn-reset categories-nav__btn">Marketing</button>
			</li>
		</ul>


		<ul class="list-reset categories-list grid">
			<li class="categories-list__item">
				<article class="recent-article categories-list__article">

					<div class="recent-article__image">
						<img src="./img/recent-image-article.jpg" alt="article 1">
					</div>

					<div class="recent-article__text">
						<h3 class="recent-article__title">
							<a href="../post.html" class="recent-article__link">How to&nbsp;Build Climate Change-Resilient
								Infrastructure</a>
						</h3>

						<div class="recent-article__meta article-meta">
							<a href="#" class="article-meta__teg">Industry News</a>
							<time datetime="2020-06-24" class="article-meta__time">June 24, 2020</time>
							<span class="article-meta__comments article-meta--icon">4 comments</span>
						</div>
						<p class="recent-article__descr">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas
							faucibus. Tincidunt aliquet sit vel, venenatis nulla.
							Integer bibendum turpis convallis…</p>
					</div>

				</article>
			</li>
			<li class="categories-list__item">
				<article class="recent-article categories-list__article">

					<div class="recent-article__image">
						<img src="./img/news/post-2.png" alt="article 2">
					</div>

					<div class="recent-article__text">
						<h3 class="recent-article__title">
							<a href="../post.html" class="recent-article__link">
								How Construction Can Help Itself
							</a>
						</h3>

						<div class="recent-article__meta article-meta">
							<a href="#" class="article-meta__teg">Innovation</a>
							<time datetime="2020-07-12" class="article-meta__time">June 12, 2020</time>
							<span class="article-meta__comments article-meta--icon">No comments</span>
						</div>
						<p class="recent-article__descr">
							Porta habitant vitae quam interdum. Leo viverra non volutpat rhoncus placerat vitae scelerisque. Rhoncus
							augue faucibus
							maecenas lacus...
						</p>
					</div>

				</article>
			</li>
			<li class="categories-list__item">
				<article class="recent-article categories-list__article">

					<div class="recent-article__image">
						<img src="./img/news/post-3.jpg" alt="article 3">
					</div>

					<div class="recent-article__text">
						<h3 class="recent-article__title">
							<a href="../post.html" class="recent-article__link">
								The Difference Between a Digger and an Excavator
							</a>
						</h3>

						<div class="recent-article__meta article-meta">
							<a href="#" class="article-meta__teg">Expert Tips</a>
							<time datetime="2020-05-16" class="article-meta__time">May 16, 2020</time>
							<span class="article-meta__comments article-meta--icon">No comments</span>
						</div>
						<p class="recent-article__descr">
							Cras est nisi purus velit facilisi vitae, dolor. Lorem scelerisque integer duis et&nbsp;nulla lobortis
							cursus. Viverra erat sollicitudin praesent viverra...
						</p>
					</div>

				</article>
			</li>
			<li class="categories-list__item">
				<article class="recent-article categories-list__article">

					<div class="recent-article__image">
						<img src="./img/news/post-4.jpg" alt="article 4">
					</div>

					<div class="recent-article__text">
						<h3 class="recent-article__title">
							<a href="../post.html" class="recent-article__link">
								Building Construction Hand Tools
							</a>
						</h3>

						<div class="recent-article__meta article-meta">
							<a href="#" class="article-meta__teg">Industry News</a>
							<time datetime="2020-06-24" class="article-meta__time">June 24, 2020</time>
							<span class="article-meta__comments article-meta--icon">4 comments</span>
						</div>
						<p class="recent-article__descr">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas
							faucibus. Tincidunt aliquet sit vel, venenatis nulla.
							Integer bibendum turpis</p>
					</div>

				</article>
			</li>
			<li class="categories-list__item">
				<article class="recent-article categories-list__article">

					<div class="recent-article__image">
						<img src="./img/news/post-5.jpg" alt="article 5">
					</div>

					<div class="recent-article__text">
						<h3 class="recent-article__title">
							<a href="../post.html" class="recent-article__link">
								Top 10 Construction Trends
							</a>
						</h3>

						<div class="recent-article__meta article-meta">
							<a href="#" class="article-meta__teg">Industry News</a>
							<time datetime="2020-06-24" class="article-meta__time">June 24, 2020</time>
							<span class="article-meta__comments article-meta--icon">4 comments</span>
						</div>
						<p class="recent-article__descr">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas
							faucibus. Tincidunt aliquet sit vel, venenatis nulla.
							Integer bibendum turpis convallis…</p>
					</div>

				</article>
			</li>
			<li class="categories-list__item">
				<article class="recent-article categories-list__article">

					<div class="recent-article__image">
						<img src="./img/news/post-6.jpg" alt="article 6">
					</div>

					<div class="recent-article__text">
						<h3 class="recent-article__title">
							<a href="../post.html" class="recent-article__link">
								Types of Flooring Materials
							</a>
						</h3>

						<div class="recent-article__meta article-meta">
							<a href="#" class="article-meta__teg">Industry News</a>
							<time datetime="2020-06-24" class="article-meta__time">June 24, 2020</time>
							<span class="article-meta__comments article-meta--icon">4 comments</span>
						</div>
						<p class="recent-article__descr">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas
							faucibus. Tincidunt aliquet sit vel, venenatis nulla.
							Integer bibendum turpis convallis…</p>
					</div>

				</article>
			</li>
		</ul>


		<ul class="list-reset categories-pag">

			<li class="categories-pag__item">
				<a href="#" class="categories-pag__link categories-pag__link--active">1</a>
			</li>
			<li class="categories-pag__item">
				<a href="#" class="categories-pag__link">2</a>
			</li>
			<li class="categories-pag__item">
				<a href="#" class="categories-pag__link">3</a>
			</li>
			<li class="categories-pag__item">
				<a href="#" class="categories-pag__link">4</a>
			</li>
			<li class="categories-pag__item">
				<a href="#" class="categories-pag__link" aria-label="Next page">
					<svg class="slider-nav__icon categories-pag__arrow">
						<use xlink:href="img/sprite.svg#arrow-pag"></use>
					</svg>
				</a>
			</li>

		</ul>
	</div>
</section>

<!-- btn--stroke btn--stroke-primary -->