<section class="contacts-info">
	<div class="container">
		<h2 class="title title--centr contacts-info__title">Our offices</h2>
		<p class="descr descr--centr contacts-info__descr">
			Give&nbsp;us a&nbsp;call, send&nbsp;us a&nbsp;note or&nbsp;visit our office. We&nbsp;can&rsquo;t wait to&nbsp;hear
			from
			you!
		</p>

		<ul class="list-reset mission__list mission-contacts">
			<li class="mission__item mission__item--contacts">
				<h3 class="mission__subtitle">New York, USA</h3>
				<span class="mission-contacts__adres">8502 Preston Rd. Inglewood, New York 98380</span>
				<a href="https://goo.gl/maps/7oMwLigB7kz4b1Ar9" target="_blank" class="mission-contacts__link">See on the
					map</a>

				<ul class="list-reset mission-contacts__list">
					<li class="mission-contacts__item">
						<span class="mission-contacts__text">Call:</span>
						<a href="tel:4055550128" class="mission-contacts__data">(405) 555-0128</a>
					</li>
					<li class="mission-contacts__item">
						<span class="mission-contacts__text">Email:</span>
						<a href="mailto:hello@createx.com" class="mission-contacts__data">hello@createx.com</a>
					</li>
					<li class="mission-contacts__item">
						<span class="mission-contacts__text">Schedule:
							<span class="mission-contacts__text2">Mon&nbsp;&mdash; Fri&nbsp;9:00&nbsp;&mdash; 18:00</span>
						</span>
					</li>
				</ul>
			</li>

			<li class="mission__item mission__item--contacts">
				<h3 class="mission__subtitle">New Jersey, USA</h3>
				<span class="mission-contacts__adres">2464 Royal Ln. Mesa, New Jersey 45463</span>
				<a href="https://goo.gl/maps/AmXcL4iLuPcjxgsP6" target="_blank" class="mission-contacts__link">See on the
					map</a>

				<ul class="list-reset mission-contacts__list">
					<li class="mission-contacts__item">
						<span class="mission-contacts__text">Call:</span>
						<a href="tel:8095550111" class="mission-contacts__data">(808) 555-0111</a>
					</li>
					<li class="mission-contacts__item">
						<span class="mission-contacts__text">Email:</span>
						<a href="mailto:hello@createx.com" class="mission-contacts__data">hello@createx.com</a>
					</li>
					<li class="mission-contacts__item">
						<span class="mission-contacts__text">Schedule:
							<span class="mission-contacts__text2">Mon&nbsp;&mdash; Fri&nbsp;9:00&nbsp;&mdash; 18:00</span>
						</span>
					</li>
				</ul>
			</li>

			<li class="mission__item mission__item--contacts">
				<h3 class="mission__subtitle">San Francisco, USA</h3>
				<span class="mission-contacts__adres">8502 Preston Rd. Inglewood, San Francisco 98380</span>
				<a href="https://goo.gl/maps/Nk3piK6saEdngKCa8" target="_blank" class="mission-contacts__link">See on the
					map</a>

				<ul class="list-reset mission-contacts__list">
					<li class="mission-contacts__item">
						<span class="mission-contacts__text">Call:</span>
						<a href="tel:5055550125" class="mission-contacts__data">(505) 555-0125</a>
					</li>
					<li class="mission-contacts__item">
						<span class="mission-contacts__text">Email:</span>
						<a href="mailto:hello@createx.com" class="mission-contacts__data">hello@createx.com</a>
					</li>
					<li class="mission-contacts__item">
						<span class="mission-contacts__text">Schedule:
							<span class="mission-contacts__text2">Mon&nbsp;&mdash; Fri&nbsp;9:00&nbsp;&mdash; 18:00</span>
						</span>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</section>