<section class="find">
	<div class="container">
		<h2 class="title title--centr find__title">Find us at</h2>
		<ul class="social find__social list-reset">
			<li class="social__item">
				<a href="#" target="_blank" class="social__link" aria-label="WhatsApp">
					<svg class="social__icon" aria-hidden="true">
						<use xlink:href="img/sprite.svg#footer-whatsapp"></use>
					</svg>
				</a>
			</li>
			<li class="social__item">
				<a href="#" target="_blank" class="social__link" aria-label="Messenger">
					<svg class="social__icon" aria-hidden="true">
						<use xlink:href="img/sprite.svg#footer-messanger"></use>
					</svg>
				</a>
			</li>
			<li class="social__item">
				<a href="#" target="_blank" class="social__link" aria-label="Facebook">
					<svg class="social__icon" aria-hidden="true">
						<use xlink:href="img/sprite.svg#footer-facebook"></use>
					</svg>
				</a>
			</li>
			<li class="social__item">
				<a href="#" target="_blank" class="social__link" aria-label="Twitter">
					<svg class="social__icon" aria-hidden="true">
						<use xlink:href="img/sprite.svg#footer-twitter"></use>
					</svg>
				</a>
			</li>
			<li class="social__item">
				<a href="#" target="_blank" class="social__link" aria-label="YouTube">
					<svg class="social__icon" aria-hidden="true">
						<use xlink:href="img/sprite.svg#footer-youtube"></use>
					</svg>
				</a>
			</li>
		</ul>
	</div>
</section>