<section class="page-hero page-hero--post">
	<div class="container">
		<ul class="list-reset breadcrumbs page-hero__breadcrumbs">
			<li class="breadcrumbs__item">
				<a href="../index.html" class="breadcrumbs__link">Homepage</a>
			</li>
			<li class="breadcrumbs__item">
				<a href="../news.html" class="breadcrumbs__link">News</a>
			</li>
			<li class="breadcrumbs__item">
				<a class="breadcrumbs__link">
					How to Build Climate Change-Resilient Infrastructure
				</a>
			</li>
		</ul>

		<h1 class="page-hero__title page-hero__title--post">
			How to Build Climate Change-Resilient Infrastructure
		</h1>

		<div class="page-hero__meta article-meta article-meta--post">
			<div class="page-hero__inner">
				<a href="#" class="article-meta__teg article-meta__teg--active">Industry News</a>
				<time datetime="2020-06-24" class="article-meta__time">June 24, 2020</time>
				<span class="article-meta__comments article-meta--icon">4 comments</span>
			</div>

			<ul class="list-reset hero-socials page-hero__socials">
				<li class="hero-socials__item">
					<a href="#" class="hero-socials__link" target="_blank">
						<svg class="hero-socials__icon">
							<use xlink:href="img/sprite.svg#facebook"></use>
						</svg>
					</a>
				</li>
				<li class="hero-socials__item">
					<a href="#" class="hero-socials__link" target="_blank">
						<svg class="hero-socials__icon">
							<use xlink:href="img/sprite.svg#Linked-In"></use>
						</svg>
					</a>
				</li>
				<li class="hero-socials__item">
					<a href="#" class="hero-socials__link" target="_blank">
						<svg class="hero-socials__icon">
							<use xlink:href="img/sprite.svg#twitter"></use>
						</svg>
					</a>
				</li>
			</ul>
		</div>

	</div>
</section>