<section class="partners partners--work">
  <div class="container">
    <h2 class="title title--centr partners__title">Our clients</h2>

    <ul class="list-reset partners__list">
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img
            src="img/partners/partners-logo-1.png"
            class="partners__logo"
            alt="logo partners 1"
          />
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img
            src="img/partners/partners-logo-2.png"
            class="partners__logo"
            alt="logo partners 2"
          />
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img
            src="img/partners/partners-logo-3.png"
            class="partners__logo"
            alt="logo partners 3"
          />
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img
            src="img/partners/partners-logo-4.png"
            class="partners__logo"
            alt="logo partners 4"
          />
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img
            src="img/partners/partners-logo-5.png"
            class="partners__logo"
            alt="logo partners 5"
          />
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img
            src="img/partners/partners-logo-6.png"
            class="partners__logo"
            alt="logo partners 6"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
