<section class="portfolio">
	<div class="container">
		<h2 class="visually-hidden">Portfolio</h2>
		<ul class="list-reset portfolio-tabs-nav">
			<li class="portfolio-tabs-nav__item">
				<button class="btn-reset portfolio-tabs-nav__btn portfolio-tabs-nav__btn--active" data-path="all">
					<svg class="portfolio-tabs-nav__icon" aria-hidden="true">
						<use xlink:href="img/sprite.svg#house"></use>
					</svg>
					<span class="portfolio-tabs-nav__text">All projects</span>
				</button>
			</li>
			<li class="portfolio-tabs-nav__item">
				<button class="btn-reset portfolio-tabs-nav__btn" data-path="constr">
					<svg class="portfolio-tabs-nav__icon" aria-hidden="true">
						<use xlink:href="img/sprite.svg#services-1"></use>
					</svg>
					<span class="portfolio-tabs-nav__text">Construction</span>
				</button>
			</li>
			<li class="portfolio-tabs-nav__item">
				<button class="btn-reset portfolio-tabs-nav__btn" data-path="dev">
					<svg class="portfolio-tabs-nav__icon" aria-hidden="true">
						<use xlink:href="img/sprite.svg#services-2"></use>
					</svg>
					<span class="portfolio-tabs-nav__text">Project Development</span>
				</button>
			</li>
			<li class="portfolio-tabs-nav__item">
				<button class="btn-reset portfolio-tabs-nav__btn" data-path="design">
					<svg class="portfolio-tabs-nav__icon" aria-hidden="true">
						<use xlink:href="img/sprite.svg#services-3"></use>
					</svg>
					<span class="portfolio-tabs-nav__text">Interior Design</span>
				</button>
			</li>
			<li class="portfolio-tabs-nav__item">
				<button class="btn-reset portfolio-tabs-nav__btn" data-path="repair">
					<svg class="portfolio-tabs-nav__icon" aria-hidden="true">
						<use xlink:href="img/sprite.svg#services-4"></use>
					</svg>
					<span class="portfolio-tabs-nav__text">Repairs</span>
				</button>
			</li>
		</ul>
		<!-- //portfolio-tabs-nav -->

		<ul class="list-reset portfolio-tabs grid">
			<li class="portfolio-tabs__item portfolio-tabs__item--visible">
				<a href="../work-v2.html" class="projects-item" data-target="dev">
					<img src="./img/work/portfolio-tabs-1.jpg" alt="projecst cover" class="projects-item__image" />
					<div class="projects-item__content">
						<h3 class="projects-item__title">Cubes Building</h3>
						<p class="projects-item__descr">Business Centers</p>
						<div class="projects-item__btn btn btn--stroke btn--stroke-primary">
							View Project
						</div>
					</div>
				</a>
			</li>
			<li class="portfolio-tabs__item portfolio-tabs__item--visible">
				<a href="../work-v2.html" class="projects-item" data-target="repair">
					<img src="./img/work/portfolio-tabs-2.jpg" alt="projecst cover" class="projects-item__image" />
					<div class="projects-item__content">
						<h3 class="projects-item__title">Modern Cottage</h3>
						<p class="projects-item__descr">Private houses</p>
						<div class="projects-item__btn btn btn--stroke btn--stroke-primary">
							View Project
						</div>
					</div>
				</a>
			</li>
			<li class="portfolio-tabs__item portfolio-tabs__item--visible">
				<a href="../work-v2.html" class="projects-item" data-target="design">
					<img src="./img/work/portfolio-tabs-3.jpg" alt="projecst cover" class="projects-item__image" />
					<div class="projects-item__content">
						<h3 class="projects-item__title">Luxury Beach House</h3>
						<p class="projects-item__descr">Private houses</p>
						<div class="projects-item__btn btn btn--stroke btn--stroke-primary">
							View Project
						</div>
					</div>
				</a>
			</li>
			<li class="portfolio-tabs__item portfolio-tabs__item--visible">
				<a href="../work-v2.html" class="projects-item" data-target="constr">
					<img src="./img/work/portfolio-tabs-4.jpg" alt="projecst cover" class="projects-item__image" />
					<div class="projects-item__content">
						<h3 class="projects-item__title">Modern Double Bedroom</h3>
						<p class="projects-item__descr">Apartments & flats</p>
						<div class="projects-item__btn btn btn--stroke btn--stroke-primary">
							View Project
						</div>
					</div>
				</a>
			</li>
			<li class="portfolio-tabs__item portfolio-tabs__item--visible">
				<a href="../work-v2.html" class="projects-item" data-target="dev">
					<img src="./img/work/portfolio-tabs-5.jpg" alt="projecst cover" class="projects-item__image" />
					<div class="projects-item__content">
						<h3 class="projects-item__title">Kids Bedroom With Decorations</h3>
						<p class="projects-item__descr">Apartments & flats</p>
						<div class="projects-item__btn btn btn--stroke btn--stroke-primary">
							View Project
						</div>
					</div>
				</a>
			</li>
			<li class="portfolio-tabs__item portfolio-tabs__item--visible">
				<a href="../work-v2.html" class="projects-item" data-target="repair">
					<img src="./img/work/portfolio-tabs-7.jpg" alt="projecst cover" class="projects-item__image" />
					<div class="projects-item__content">
						<h3 class="projects-item__title">The Pencil Building</h3>
						<p class="projects-item__descr">Stores & Malls</p>
						<div class="projects-item__btn btn btn--stroke btn--stroke-primary">
							View Project
						</div>
					</div>
				</a>
			</li>
			<li class="portfolio-tabs__item portfolio-tabs__item--visible">
				<a href="../work-v2.html" class="projects-item" data-target="design">
					<img src="./img/work/portfolio-tabs-7.jpg" alt="projecst cover" class="projects-item__image" />
					<div class="projects-item__content">
						<h3 class="projects-item__title">Red Finger Building</h3>
						<p class="projects-item__descr">Business Centers</p>
						<div class="projects-item__btn btn btn--stroke btn--stroke-primary">
							View Project
						</div>
					</div>
				</a>
			</li>
			<li class="portfolio-tabs__item portfolio-tabs__item--visible">
				<a href="../work-v2.html" class="projects-item" data-target="constr">
					<img src="./img/work/portfolio-tabs-8.jpg" alt="projecst cover" class="projects-item__image" />
					<div class="projects-item__content">
						<h3 class="projects-item__title">Scandinavian Style Interior</h3>
						<p class="projects-item__descr">Private houses</p>
						<div class="projects-item__btn btn btn--stroke btn--stroke-primary">
							View Project
						</div>
					</div>
				</a>
			</li>
			<li class="portfolio-tabs__item portfolio-tabs__item--visible">
				<a href="../work-v2.html" class="projects-item" data-target="dev">
					<img src="./img/work/portfolio-tabs-9.jpg" alt="projecst cover" class="projects-item__image" />
					<div class="projects-item__content">
						<h3 class="projects-item__title">Brown and Gray Painted House</h3>
						<p class="projects-item__descr">Private houses</p>
						<div class="projects-item__btn btn btn--stroke btn--stroke-primary">
							View Project
						</div>
					</div>
				</a>
			</li>
			<li class="portfolio-tabs__item portfolio-tabs__item--visible">
				<a href="../work-v2.html" class="projects-item" data-target="dev">
					<img src="./img/work/portfolio-tabs-9.jpg" alt="projecst cover" class="projects-item__image" />
					<div class="projects-item__content">
						<h3 class="projects-item__title">Brown and Gray Painted House</h3>
						<p class="projects-item__descr">Private houses</p>
						<div class="projects-item__btn btn btn--stroke btn--stroke-primary">
							View Project
						</div>
					</div>
				</a>
			</li>
			<li class="portfolio-tabs__item portfolio-tabs__item--visible">
				<a href="../work-v2.html" class="projects-item" data-target="dev">
					<img src="./img/work/portfolio-tabs-9.jpg" alt="projecst cover" class="projects-item__image" />
					<div class="projects-item__content">
						<h3 class="projects-item__title">Brown and Gray Painted House</h3>
						<p class="projects-item__descr">Private houses</p>
						<div class="projects-item__btn btn btn--stroke btn--stroke-primary">
							View Project
						</div>
					</div>
				</a>
			</li>
			<li class="portfolio-tabs__item portfolio-tabs__item--visible">
				<a href="../work-v2.html" class="projects-item" data-target="dev">
					<img src="./img/work/portfolio-tabs-9.jpg" alt="projecst cover" class="projects-item__image" />
					<div class="projects-item__content">
						<h3 class="projects-item__title">Brown and Gray Painted House</h3>
						<p class="projects-item__descr">Private houses</p>
						<div class="projects-item__btn btn btn--stroke btn--stroke-primary">
							View Project
						</div>
					</div>
				</a>
			</li>
			<li class="portfolio-tabs__item portfolio-tabs__item--visible">
				<a href="../work-v2.html" class="projects-item" data-target="dev">
					<img src="./img/work/portfolio-tabs-9.jpg" alt="projecst cover" class="projects-item__image" />
					<div class="projects-item__content">
						<h3 class="projects-item__title">Brown and Gray Painted House</h3>
						<p class="projects-item__descr">Private houses</p>
						<div class="projects-item__btn btn btn--stroke btn--stroke-primary">
							View Project
						</div>
					</div>
				</a>
			</li>
			<li class="portfolio-tabs__item portfolio-tabs__item--visible">
				<a href="../work-v2.html" class="projects-item" data-target="dev">
					<img src="./img/work/portfolio-tabs-9.jpg" alt="projecst cover" class="projects-item__image" />
					<div class="projects-item__content">
						<h3 class="projects-item__title">Brown and Gray Painted House</h3>
						<p class="projects-item__descr">Private houses</p>
						<div class="projects-item__btn btn btn--stroke btn--stroke-primary">
							View Project
						</div>
					</div>
				</a>
			</li>
			<li class="portfolio-tabs__item portfolio-tabs__item--visible">
				<a href="../work-v2.html" class="projects-item" data-target="dev">
					<img src="./img/work/portfolio-tabs-9.jpg" alt="projecst cover" class="projects-item__image" />
					<div class="projects-item__content">
						<h3 class="projects-item__title">Brown and Gray Painted House</h3>
						<p class="projects-item__descr">Private houses</p>
						<div class="projects-item__btn btn btn--stroke btn--stroke-primary">
							View Project
						</div>
					</div>
				</a>
			</li>
			<li class="portfolio-tabs__item portfolio-tabs__item--visible">
				<a href="../work-v2.html" class="projects-item" data-target="dev">
					<img src="./img/work/portfolio-tabs-9.jpg" alt="projecst cover" class="projects-item__image" />
					<div class="projects-item__content">
						<h3 class="projects-item__title">Brown and Gray Painted House</h3>
						<p class="projects-item__descr">Private houses</p>
						<div class="projects-item__btn btn btn--stroke btn--stroke-primary">
							View Project
						</div>
					</div>
				</a>
			</li>
			<li class="portfolio-tabs__item portfolio-tabs__item--visible">
				<a href="../work-v2.html" class="projects-item" data-target="dev">
					<img src="./img/work/portfolio-tabs-9.jpg" alt="projecst cover" class="projects-item__image" />
					<div class="projects-item__content">
						<h3 class="projects-item__title">Brown and Gray Painted House</h3>
						<p class="projects-item__descr">Private houses</p>
						<div class="projects-item__btn btn btn--stroke btn--stroke-primary">
							View Project
						</div>
					</div>
				</a>
			</li>
			<li class="portfolio-tabs__item portfolio-tabs__item--visible">
				<a href="../work-v2.html" class="projects-item" data-target="dev">
					<img src="./img/work/portfolio-tabs-9.jpg" alt="projecst cover" class="projects-item__image" />
					<div class="projects-item__content">
						<h3 class="projects-item__title">Brown and Gray Painted House</h3>
						<p class="projects-item__descr">Private houses</p>
						<div class="projects-item__btn btn btn--stroke btn--stroke-primary">
							View Project
						</div>
					</div>
				</a>
			</li>
			<li class="portfolio-tabs__item portfolio-tabs__item--visible">
				<a href="../work-v2.html" class="projects-item" data-target="dev">
					<img src="./img/work/portfolio-tabs-9.jpg" alt="projecst cover" class="projects-item__image" />
					<div class="projects-item__content">
						<h3 class="projects-item__title">Brown and Gray Painted House</h3>
						<p class="projects-item__descr">Private houses</p>
						<div class="projects-item__btn btn btn--stroke btn--stroke-primary">
							View Project
						</div>
					</div>
				</a>
			</li>
		</ul>

		<div class="centered">
			<button type="button" class="btn-reset load-more__btn">
				<svg class="load-more__icon" aria-hidden="true">
					<use xlink:href="img/sprite.svg#portfolio-сonvert"></use>
				</svg>
				Load more
			</button>
		</div>

	</div>
	</div>
</section>