<section class="projects-section projects-section--work-inner ">
	<div class="container">

		<div class="projects-section__top">
			<h2 class="title title--left projects-section__title">Similar projects</h2>

			<div class="slider-nav projects-section__slider-nav">
				<button class="btn-reset slider-nav__btn projects-section__prew slider-btn">
					<svg class="slider-nav__icon">
						<use xlink:href="img/sprite.svg#Left-arrow"></use>
					</svg>
				</button>
				<button class="btn-reset slider-nav__btn projects-section__next slider-btn">
					<svg class="slider-nav__icon">
						<use xlink:href="img/sprite.svg#Right-arrow"></use>
					</svg>
				</button>
			</div>
		</div>


		<!-- Слайдер -->
		<div class="swiper projects-section__items swiper-no-swiping">

			<div class=" swiper-wrapper">
				<div class="swiper-slide">

					<a href="../work-v2.html" class="projects-item">
						<img src="./img/work-v2/similar-projects-image-1.jpg" alt="projecst cover" class="projects-item__image">
						<div class="projects-item__content">
							<h3 class="projects-item__title">Luxury Beach House</h3>
							<p class="projects-item__descr">Private Houses</p>
							<div class="projects-item__btn btn btn--stroke btn--stroke-primary">View Project</div>
						</div>
					</a>

				</div>
				<div class="swiper-slide">

					<a href="../work-v2.html" class="projects-item">
						<img src="./img/work-v2/similar-projects-image-2.jpg" alt="projecst cover" class="projects-item__image">
						<div class="projects-item__content">
							<h3 class="projects-item__title">Brown and Gray Painted House</h3>
							<p class="projects-item__descr">Private Houses</p>
							<div class="projects-item__btn btn btn--stroke btn--stroke-primary">View Project</div>
						</div>
					</a>

				</div>
				<div class="swiper-slide">

					<a href="../work-v2.html" class="projects-item">
						<img src="./img/work-v2/similar-projects-image-3.jpg" alt="projecst cover" class="projects-item__image">
						<div class="projects-item__content">
							<h3 class="projects-item__title">Scandinavian Style Interior</h3>
							<p class="projects-item__descr">Private houses</p>
							<div class="projects-item__btn btn btn--stroke btn--stroke-primary">View Project</div>
						</div>
					</a>

				</div>
				<div class="swiper-slide">

					<a href="../work-v2.html" class="projects-item">
						<img src="./img/work-v2/similar-projects-image-3.jpg" alt="projecst cover" class="projects-item__image">
						<div class="projects-item__content">
							<h3 class="projects-item__title">Scandinavian Style Interior</h3>
							<p class="projects-item__descr">Private houses</p>
							<div class="projects-item__btn btn btn--stroke btn--stroke-primary">View Project</div>
						</div>
					</a>

				</div>
			</div>

			<div class="projects-section__learn learn-more">
				<h4 class="learn-more__subtitle">Explore all our works</h4>
				<a href="../work.html" class="btn-reset learn-more__btn btn btn--fill">View portfolio</a>
			</div>

		</div>
</section>