<section class="team">
  <div class="container">
    <h2 class="title title--centr">Our team</h2>
    <p class="descr team__descr">
      People are at&nbsp;the heart of&nbsp;Createx Construction Bureau
    </p>

    <ul class="list-reset team__list grid">
      <li class="team__item">
        <div class="team__image">
          <img src="./img/about/team-1.jpg" aria-hidden="true" alt="team 1" />

          <div class="team-social">
            <ul class="list-reset team-social__list">
              <li class="team-social__item">
                <a href="#" class="team-social__link" target="_blank">
                  <svg class="team-social__icon" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#team-social-1"></use>
                  </svg>
                </a>
              </li>
              <li class="team-social__item">
                <a href="#" class="team-social__link" target="_blank">
                  <svg class="team-social__icon" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#team-social-2"></use>
                  </svg>
                </a>
              </li>
              <li class="team-social__item">
                <a href="#" class="team-social__link" target="_blank">
                  <svg class="team-social__icon" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#team-social-3"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <!-- /team-social -->
        </div>
        <span class="team__author">Courtney Alexander</span>
        <span class="team__post">CEO, Co-Founder</span>
      </li>
      <li class="team__item">
        <div class="team__image">
          <img src="./img/about/team-2.jpg" aria-hidden="true" alt="team 1" />

          <div class="team-social">
            <ul class="list-reset team-social__list">
              <li class="team-social__item">
                <a href="#" class="team-social__link" target="_blank">
                  <svg class="team-social__icon" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#team-social-1"></use>
                  </svg>
                </a>
              </li>
              <li class="team-social__item">
                <a href="#" class="team-social__link" target="_blank">
                  <svg class="team-social__icon" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#team-social-2"></use>
                  </svg>
                </a>
              </li>
              <li class="team-social__item">
                <a href="#" class="team-social__link" target="_blank">
                  <svg class="team-social__icon" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#team-social-3"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <!-- /team-social -->
        </div>
        <span class="team__author">Calvin Fox</span>
        <span class="team__post">CTO, Co-Founder</span>
      </li>
      <li class="team__item">
        <div class="team__image">
          <img src="./img/about/team-3.jpg" aria-hidden="true" alt="team 1" />

          <div class="team-social">
            <ul class="list-reset team-social__list">
              <li class="team-social__item">
                <a href="#" class="team-social__link" target="_blank">
                  <svg class="team-social__icon" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#team-social-1"></use>
                  </svg>
                </a>
              </li>
              <li class="team-social__item">
                <a href="#" class="team-social__link" target="_blank">
                  <svg class="team-social__icon" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#team-social-2"></use>
                  </svg>
                </a>
              </li>
              <li class="team-social__item">
                <a href="#" class="team-social__link" target="_blank">
                  <svg class="team-social__icon" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#team-social-3"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <!-- /team-social -->
        </div>
        <span class="team__author">Johnny Lane</span>
        <span class="team__post">Commercial Manager</span>
      </li>
      <li class="team__item">
        <div class="team__image">
          <img src="./img/about/team-4.jpg" aria-hidden="true" alt="team 4" />

          <div class="team-social">
            <ul class="list-reset team-social__list">
              <li class="team-social__item">
                <a href="#" class="team-social__link" target="_blank">
                  <svg class="team-social__icon" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#team-social-1"></use>
                  </svg>
                </a>
              </li>
              <li class="team-social__item">
                <a href="#" class="team-social__link" target="_blank">
                  <svg class="team-social__icon" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#team-social-2"></use>
                  </svg>
                </a>
              </li>
              <li class="team-social__item">
                <a href="#" class="team-social__link" target="_blank">
                  <svg class="team-social__icon" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#team-social-3"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <!-- /team-social -->
        </div>
        <span class="team__author">Diane Mccoy</span>
        <span class="team__post">Director of Human Resources</span>
      </li>
      <li class="team__item">
        <div class="team__image">
          <img src="./img/about/team-5.jpg" aria-hidden="true" alt="team 5" />

          <div class="team-social">
            <ul class="list-reset team-social__list">
              <li class="team-social__item">
                <a href="#" class="team-social__link" target="_blank">
                  <svg class="team-social__icon" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#team-social-1"></use>
                  </svg>
                </a>
              </li>
              <li class="team-social__item">
                <a href="#" class="team-social__link" target="_blank">
                  <svg class="team-social__icon" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#team-social-2"></use>
                  </svg>
                </a>
              </li>
              <li class="team-social__item">
                <a href="#" class="team-social__link" target="_blank">
                  <svg class="team-social__icon" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#team-social-3"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <!-- /team-social -->
        </div>
        <span class="team__author">Judith Warren</span>
        <span class="team__post">Lead Accountant</span>
      </li>
      <li class="team__item">
        <div class="team__image">
          <img src="./img/about/team-6.jpg" aria-hidden="true" alt="team 6" />

          <div class="team-social">
            <ul class="list-reset team-social__list">
              <li class="team-social__item">
                <a href="#" class="team-social__link" target="_blank">
                  <svg class="team-social__icon" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#team-social-1"></use>
                  </svg>
                </a>
              </li>
              <li class="team-social__item">
                <a href="#" class="team-social__link" target="_blank">
                  <svg class="team-social__icon" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#team-social-2"></use>
                  </svg>
                </a>
              </li>
              <li class="team-social__item">
                <a href="#" class="team-social__link" target="_blank">
                  <svg class="team-social__icon" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#team-social-3"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <!-- /team-social -->
        </div>
        <span class="team__author">Floyd Simmmons</span>
        <span class="team__post">Finacial Director</span>
      </li>
      <li class="team__item">
        <div class="team__image">
          <img src="./img/about/team-7.jpg" aria-hidden="true" alt="team 7" />

          <div class="team-social">
            <ul class="list-reset team-social__list">
              <li class="team-social__item">
                <a href="#" class="team-social__link" target="_blank">
                  <svg class="team-social__icon" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#team-social-1"></use>
                  </svg>
                </a>
              </li>
              <li class="team-social__item">
                <a href="#" class="team-social__link" target="_blank">
                  <svg class="team-social__icon" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#team-social-2"></use>
                  </svg>
                </a>
              </li>
              <li class="team-social__item">
                <a href="#" class="team-social__link" target="_blank">
                  <svg class="team-social__icon" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#team-social-3"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <!-- /team-social -->
        </div>
        <span class="team__author">Serenity Edwards</span>
        <span class="team__post">Director of Marketing</span>
      </li>
      <li class="team__item">
        <div class="team__image">
          <img src="./img/about/team-8.jpg" aria-hidden="true" alt="team 8" />

          <div class="team-social">
            <ul class="list-reset team-social__list">
              <li class="team-social__item">
                <a href="#" class="team-social__link" target="_blank">
                  <svg class="team-social__icon" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#team-social-1"></use>
                  </svg>
                </a>
              </li>
              <li class="team-social__item">
                <a href="#" class="team-social__link" target="_blank">
                  <svg class="team-social__icon" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#team-social-2"></use>
                  </svg>
                </a>
              </li>
              <li class="team-social__item">
                <a href="#" class="team-social__link" target="_blank">
                  <svg class="team-social__icon" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#team-social-3"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <!-- /team-social -->
        </div>
        <span class="team__author">Shawn Edwards</span>
        <span class="team__post">Tech Lead</span>
      </li>
    </ul>

    <p class="team__positions">
      Become a&nbsp;part of&nbsp;the best team in&nbsp;the construction market
      of&nbsp;the USA.<a href="#"> Available Positions</a>
    </p>
  </div>
</section>
