<section class="testimonials testimonials--work-inner">
  <div class="container testimonials__container">
    <div class="testimonials__content">
      <h2 class="title testimonials__title">Constructive decisions</h2>

      <ul class="list-reset testimonials-work-inner__list">
        <li class="testimonials-work-inner__item">
          <span class="testimonials-work-inner__text"
            >Vitae ultrices ornare eu&nbsp;sed in&nbsp;est quisque duis&nbsp;id.
          </span>
        </li>
        <li class="testimonials-work-inner__item">
          <span class="testimonials-work-inner__text"
            >A&nbsp;fermentum in&nbsp;morbi pretium aliquam adipiscing donec
            tempus.
          </span>
        </li>
        <li class="testimonials-work-inner__item">
          <span class="testimonials-work-inner__text"
            >Mauris odio pellentesque commodo, diam.
          </span>
        </li>
        <li class="testimonials-work-inner__item">
          <span class="testimonials-work-inner__text">
            Fermentum vestibulum est fermentum, egestas gravida scelerisque
            quis.
          </span>
        </li>
        <li class="testimonials-work-inner__item">
          <span class="testimonials-work-inner__text">
            At&nbsp;pharetra libero blandit risus, fringilla sed commodo diam.
          </span>
        </li>
        <li class="testimonials-work-inner__item">
          <span class="testimonials-work-inner__text">
            Integer ultricies viverra ut&nbsp;enim viverra&nbsp;ut.
          </span>
        </li>
      </ul>
    </div>
    <!-- /testimonials__content -->
    <div class="testimonials__image">
      <img
        src="img/work-v2/testimonials-image-left.jpg"
        alt=""
        aria-hidden="true"
      />
    </div>
  </div>
</section>
